/*HEADER*/
header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  /*nav bar*/
}
header img {
  max-width: 75px;
  height: auto;
}
header nav .nav-link {
  font-family: "Oswald", sans-serif;
  color: #ffd600;
}
header nav .nav-link:hover {
  color: #ffd600;
  text-decoration: underline;
}
header nav .nav-link:focus {
  color: #f6f1f1;
}
header nav .logo {
  transition: 0.3s;
}
header nav .logo:hover {
  transform: scale(0.8);
}
header nav .navbar-toggler {
  color: #F6F1F1;
  background-color: #ffd600;
}

.main {
  padding-top: 70px;
  margin-top: 0;
}

.fondo {
  background-color: #0033a0;
}

/*FOOTER*/
footer {
  background-color: #0033a0;
  color: #ffd600;
  display: flex;
  justify-content: end;
}
footer img {
  max-width: 60px;
  height: auto;
}
footer .container {
  position: relative;
  width: 50%;
  /*  choose your size */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: end;
}
footer .container button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ffd600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
footer .container button:hover {
  background-color: #f6f1f1;
}
footer .icon {
  width: 26px;
  height: 26px;
  fill: #0033a0;
}

/*---------------------------------------------------------------------*/
/*INDEX*/
/*titulo y banner*/
.titulo {
  background-image: url(../medios/bannerindex2.jpg);
  height: 200px;
  background-size: cover;
}
.titulo h1 {
  text-align: center;
  color: #ffd600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

/*presentacion*/
.presentacion {
  background-color: #f6f1f1;
  font-family: "Bebas Neue", sans-serif;
  color: #0033a0;
}
.presentacion p {
  text-align: justify;
}
.presentacion iframe {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.74);
  border-radius: 12px 12px 12px 12px;
  width: 600px;
}

/*boca hoy*/
.noticias {
  font-family: "Bebas Neue", sans-serif;
  color: #0033a0;
  background-color: #ffd600;
  /*cards*/
}
.noticias .not1 {
  display: flex;
  flex-direction: column;
}
.noticias .not1 img {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.74);
  width: 80%;
}
.noticias .not1 h2 {
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  text-align: center;
}
.noticias .not1 h3 {
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
}
.noticias .card {
  font-family: "Bebas Neue", sans-serif;
  color: #ffd600;
  background-color: #0033a0;
  font-size: 150%;
  text-shadow: none;
  text-decoration: none;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.74);
  transition: 0.3s;
  margin-bottom: 10px;
}
.noticias .card:hover {
  transform: scale(0.8);
}
.noticias .card p {
  color: #ffd600;
}
.noticias .card a {
  color: #ffd600;
}

/*--------------------------------------------------------------------------*/
/* Plantel 2023 */
/*banner*/
.banner {
  background-image: url(../medios/bannerplantel2023.jpg);
  height: 200px;
  background-size: cover;
  background-color: #f6f1f1;
}
.banner h1 {
  text-align: center;
  color: #ffd600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

/*jugadores*/
.jugadores {
  /* cards */
}
.jugadores h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-decoration: underline;
}
.jugadores .card {
  font-family: "Bebas Neue", sans-serif;
  color: #ffd600;
  background-color: #0033a0;
  font-size: 150%;
  text-shadow: none;
  text-decoration: none;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.74);
  transition: 0.3s;
}
.jugadores .card:hover {
  transform: scale(0.8);
}

/*Cuerpo tecnico*/
.cuerpo-tecnico {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-decoration: underline;
  background-color: #ffd600;
  border: 5px solid transparent;
  box-sizing: border-box;
}

/* HITOS HISTORICOS */
.hitos {
  background-image: url(../medios/bannerhh2.jpg);
  height: 200px;
  background-size: cover;
}
.hitos h1 {
  text-align: center;
  color: #ffd600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

/* La sexta */
.la-sexta, .intercontinental {
  background-color: #f6f1f1;
}
.la-sexta h2, .intercontinental h2 {
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-decoration: underline;
}
.la-sexta p, .intercontinental p {
  font-family: "Bebas Neue", sans-serif;
  color: #0033a0;
  text-align: justify;
}

/* intercontinental 2003 */
.intercontinental {
  background-color: #ffd600;
}

/* ------------------------------------------------------------------*/
/* La Bombonera */
.bombonera {
  background-image: url(../medios/bombonerabanner.jpg);
  height: 200px;
  background-size: cover;
  background-color: #f6f1f1;
}
.bombonera h1 {
  text-align: center;
  color: #ffd600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

.historia {
  font-family: "Bebas Neue", sans-serif;
  color: #0033a0;
  text-align: justify;
}
.historia iframe {
  width: 600px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.74);
  border-radius: 12px 12px 12px 12px;
}
.historia h2 {
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-decoration: underline;
}

/* galeria */
.galeria {
  background-color: #ffd600;
}
.galeria h2 {
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  border: 5px solid transparent;
  box-sizing: border-box;
}
.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1s;
}
.grid-container img:hover {
  transform: scale(0.8);
}
.grid-container .img1 {
  grid-column: 1;
  grid-row: 1;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}
.grid-container .img2 {
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}
.grid-container .img3 {
  grid-column: 1;
  grid-row: 2/3;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}
.grid-container .img4 {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}
.grid-container .img5 {
  grid-column: 2;
  grid-row: 3;
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}

/*-------------------------------------------------------------*/
/*Contactanos*/
.contactanos {
  background-color: #f6f1f1;
  color: #0033a0;
  font-family: "Bebas Neue", sans-serif;
}
.contactanos h1 {
  text-align: center;
  color: #ffd600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.57);
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
  color: #0033a0;
  text-align: start;
  text-shadow: none;
}
.contactanos .formulario {
  font-size: 20px;
}
.contactanos .formulario iframe {
  width: 100%;
  margin-top: 10px;
}
.contactanos .formulario .btn {
  color: #ffd600;
  font-size: 20px;
  background-color: #0033a0;
}
.contactanos .formulario .btn:hover {
  color: #ffd600;
  background-color: #0033a0;
  text-decoration: underline;
}
.contactanos .formulario .btn:focus {
  color: #0033a0;
  background-color: #ffd600;
  text-decoration: underline;
}

/*-------------------------------------------------------------------------*/
/* responsive */
/*tablet*/
@media screen and (max-width: 1024px) {
  /*Index*/
  /* noticia1 */
  .not1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .not1 h3 {
    text-align: center;
  }
  .not1 p {
    text-align: center;
    text-align: justify;
  }
  .not1 img {
    width: 80%;
  }
  /* iframe */
  .presentacion iframe {
    width: 100%;
  }
  /* La bombonera */
  .historia iframe {
    width: 100%;
    margin-bottom: 10px;
  }
  .historia h2 {
    text-align: center;
  }
  /*hitos historicos*/
  .la-sexta h2, .intercontinental h2 {
    text-align: center;
  }
  .carousel {
    margin-bottom: 20px;
  }
  /*contactanos*/
  .contactanos h1 {
    text-align: center;
  }
  .contactanos p {
    text-align: center;
  }
  .contactanos .formulario iframe {
    margin-top: 5px;
    width: 100%;
  }
}
/*mobile*/
@media screen and (max-width: 576px) {
  /*Index*/
  /* noticia1 */
  .not1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .not1 h3 {
    text-align: center;
  }
  .not1 p {
    text-align: center;
    text-align: justify;
  }
  .not1 img {
    width: 80%;
  }
  /* iframe */
  .presentacion iframe {
    width: 100%;
  }
  /* cards */
  .medina {
    display: none;
  }
  /* La bombonera */
  .historia iframe {
    width: 500px;
    margin-bottom: 10px;
  }
  .historia h2 {
    text-align: center;
  }
  .img5 {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
  }
  /*hitos historicos*/
  .la-sexta h2, .intercontinental h2 {
    text-align: center;
  }
  .carousel {
    margin-bottom: 20px;
  }
  /*plantel 2023*/
  .card {
    transition: none;
  }
  .card img {
    width: 100%;
  }
  .card .card-body {
    padding: 0;
  }
  .card .card-body p {
    font-size: 80%;
    padding: 5px;
    margin: 0;
  }
  .card .card-body:hover {
    transform: none;
  }
  /*contactanos*/
  .contactanos h1 {
    text-align: center;
  }
  .contactanos p {
    text-align: center;
  }
  .contactanos .formulario iframe {
    margin-top: 5px;
    width: 100%;
  }
}

/*# sourceMappingURL=estilos2.css.map */
