// header
/*HEADER*/
header{
    position: sticky;
    top: 0px;
    z-index: 1000;
    img{
        max-width: 75px;
        height: auto;
    }
      // nav bar
    /*nav bar*/  
    nav{
        .nav-link{
            font-family: 'Oswald', sans-serif;
            color: #ffd600;   
            &:hover{
                color: #ffd600;
                text-decoration: underline;
            }
            &:focus{
                color: $color-blanco;
            }
        
        }
        .logo{
            transition: 0.3s;
            &:hover{
                transform: scale(0.8);
            }
        }
        .navbar-toggler{
            color: #F6F1F1;
            background-color: #ffd600;
        }
    }

}


.main{
    padding-top: 70px;
    margin-top: 0;
}
.fondo{
    background-color: #0033a0;
}


// footer
/*FOOTER*/
footer{
    background-color: #0033a0;
    color: #ffd600;
    display: flex;
    justify-content: end;
    
    img{
        max-width: 60px;
        height: auto;
    }

    .container {
        position: relative;
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 10px;
        justify-content: end;

    }
    
        .container button {
        width: 50px;
        height: 50px;
        border: none;
        background-color: $color-amarillo;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            background-color: $color-blanco;
        }
    }
    
        .icon {
        width: 26px;
        height: 26px;
        fill: $color-azul;
    }
    
}