/*-------------------------------------------------------------------------*/
//  Rsponsive
 /* responsive */
//  Tablet
/*tablet*/
 @media screen and (max-width: 1024px) {

    //INDEX
    /*Index*/
    // noticia1
    /* noticia1 */
    .not1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       h3{
         text-align: center;
        }
       p{
         text-align: center;
         text-align: justify;
       }
       img{
         width: 80%;
        }
     } 
     // iframe
     /* iframe */
    .presentacion{
       iframe{
          width: 100%;
       }
     
    }
   //  cards
  /*cards*/
    

   //   La Bombonera
   /* La bombonera */
   .historia{
      iframe{
         width: 100%;
         margin-bottom: 10px;
      }
      h2{
         text-align: center;
      }
   }  
   //   Hitos historicos
   /*hitos historicos*/
   .la-sexta h2{
      text-align: center;
   }
   .carousel{
      margin-bottom: 20px;
   }
   // Contactanos
      /*contactanos*/
   .contactanos{
      h1{
         text-align: center;
      }
      p{
         text-align: center;
      }
      .formulario{
         iframe{
            margin-top: 5px;
            width: 100%;
         }
      }
   }
 }

//  Mobile
/*mobile*/
 @media screen and (max-width: 576px) {

    //INDEX
    /*Index*/
    // noticia1
    /* noticia1 */
    .not1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
      h3{
        text-align: center;
       }
      p{
        text-align: center;
        text-align: justify;
      }
      img{
        width: 80%;
       }
    } 
    // iframe
    /* iframe */
   .presentacion{
      iframe{
         width: 100%;
      }
    
   }
//   La Bombonera
   /* La bombonera */
   .historia{
      iframe{
         width: 500px;
         margin-bottom: 10px;
      }
      h2{
         text-align: center;
      }
   }
  .img5{
     display: none;
  }
  .grid-container{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-gap: 5px;
  }

//   Hitos historicos
/*hitos historicos*/
  .la-sexta h2{
   text-align: center;
  }
  .carousel{
   margin-bottom: 20px;
  }

// Contactanos
/*contactanos*/
.contactanos{
   h1{
      text-align: center;
   }
   p{
      text-align: center;
   }
   .formulario{
      iframe{
         margin-top: 5px;
         width: 100%;
      }
   }
}

}