/* #0033A0
  #F6F1F1
   #FFFFF
   #ffd600
   */

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
  
  /* jugadores */
  
  

 
  .

  /* cuerpo tecnico */
 
  

 /* ---------------------------------------------------------------------------------------------------------------- */
 
 

 
 
 
 /* ------------------------------------------------------------------------------------------------------------- */
 /* Contactanos */
 .contactanos h1{
    font-family: 'Oswald', sans-serif;
    color:#0033a0;
    text-decoration: underline;
 }
 .contactanos{
    background-color: #F6F1F1;
    color: #0033a0;
    font-family: 'Bebas Neue', sans-serif;

 }
 .formulario{
    font-size: 20px;
 }
 .btn{
    color: #ffd600;
    font-size: 20px;
    background-color: #0033a0;
 }
 .btn:hover{
    color: #ffd600;
    background-color: #0033a0;
    text-decoration: underline;
 }
 /* ------------------------------------------------------------------------------------------------------------------------------------------------ */

 
 
 
  /* -------------------------------------------------------------------------------------------------------------------------- */
  /* responsive */
  @media screen and (max-width: 650px) {

 
  /*Index*/
  /* noticia1 */
  .not1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .not1 h3{
   text-align: center;
  }
  .not1 p{
   text-align: center;
   text-align: justify;
  }
  .not1 img{
   width: 80%;
  }
  /* iframe */
 .presentacion iframe{
   width: 500px;
 }
 /* cards */
 .medina{
   display: none;
 }

 /* La bombonera */
.historia iframe{
   width: 500px;
   margin-bottom: 10px;
}
.historia h2{
   text-align: center;
}
.img5{
   display: none;
}
.grid-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 5px;
}
 
  }