// mixin
@mixin titulos($alineacion, $color, $sombra, $decoracion){
    text-align: $alineacion;
    color: $color;
    text-shadow: $sombra;
    text-decoration: $decoracion;
}

@mixin estilos-galeria ($box, $borde){
    box-shadow: $box;
    border-radius: $borde;
}

// paleta de colores
//  #0033A0
//   #F6F1F1
//  #00000091
//    #ffd600
$color-amarillo: #ffd600;
$color-azul:  #0033a0;
$color-blanco: #f6f1f1;
$color-negro: #000;