/*-------------------------------------------------------------*/
/*Contactanos*/
// Contactanos
.contactanos{
    background-color: $color-blanco;
    color: $color-azul;
    font-family: 'Bebas Neue', sans-serif;
    h1{
      @include titulos(center,$color-amarillo,0px 0px 7px rgba(0,0,0,0.57),underline);
      font-family: 'Oswald', sans-serif;
      color: $color-azul;
      text-align: start;
      text-shadow: none;
   }
    .formulario{
      font-size: 20px;
      iframe{
         width: 100%;
         margin-top: 10px;
      }
      .btn{
         color: $color-amarillo;
         font-size: 20px;
         background-color: $color-azul;
        &:hover{
           color: #ffd600;
           background-color: #0033a0;
           text-decoration: underline;
        }
        &:focus{
           color: $color-azul;
           background-color: $color-amarillo;
           text-decoration: underline;
        }
      }
     
   }
 }
 
 