//  ------------------------------------------------------------
 /* HITOS HISTORICOS */
// HITOS HISTORICOS
.hitos{
    background-image: url(../medios/bannerhh2.jpg);
    height: 200px;
    background-size: cover;
    h1{
        @include titulos(center,$color-amarillo,0px 0px 7px rgba(0,0,0,0.57),underline);
        font-family: 'Oswald', sans-serif;
    }
 }
 /* La sexta */
//  La sexta
 .la-sexta{
    background-color: $color-blanco;
    h2{
        font-family: 'Oswald', sans-serif;
        color:$color-azul;
        text-decoration: underline;
    }
    p{
        font-family: 'Bebas Neue', sans-serif;
        color: $color-azul;
        text-align: justify;
    
    }
   
   

 }
 

 /* intercontinental 2003 */
//  Intercontinental 2003
 .intercontinental{
    @extend .la-sexta;
    background-color: $color-amarillo;
 }