/*---------------------------------------------------------------------*/
// INDEX
/*INDEX*/

// titulo y banner
/*titulo y banner*/
.titulo{
    background-image: url(../medios/bannerindex2.jpg);
    height: 200px;
    background-size: cover;
    h1{
    @include titulos(center, $color-amarillo, 0px 0px 7px rgba(0,0,0,0.57), underline );
    font-family: 'Oswald', sans-serif;
    }

}
// presentacion
/*presentacion*/
.presentacion{
    background-color: $color-blanco;
    font-family: 'Bebas Neue', sans-serif;
    color: $color-azul;
    p{
        text-align: justify;
    }
    iframe{
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.74);
        border-radius: 12px 12px 12px 12px;
        width: 600px;
    }
}
// boca hoy
/*boca hoy*/

.noticias{
    font-family: 'Bebas Neue', sans-serif;
    color: $color-azul;
    background-color: $color-amarillo;
    .not1{
        display: flex;
        flex-direction: column;
        img{
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.74);
            width: 80%;
        }
        h2{
            font-family: 'Oswald', sans-serif;
            text-decoration: underline;
            text-align: center;
            
        }
        h3{
            font-family: 'Bebas Neue', sans-serif;
            text-decoration: underline;
        }
    
    }
    //  cards
    /*cards*/
    .card{
        font-family: 'Bebas Neue', sans-serif;
        color:$color-amarillo;
        background-color: $color-azul;
        font-size: 150%;
        text-shadow: none;
        text-decoration: none;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.74);
        transition: 0.3s;
    
        margin-bottom: 10px;
        &:hover{
            transform: scale(0.8);
        }
        p{
            color: $color-amarillo;
        }
        a{
            color: $color-amarillo;
        }

        // .bvp{
        //     width: 100%;
        // }
        // .rojo{
        //     width: 100%;
        // }
        // .medina{
        //     width: 100%;
        // }
        
    }
}








