/*--------------------------------------------------------------------------*/
/* Plantel 2023 */
// plantel 2023
main{
    background-color: #F6F1F1;
}
/*banner*/
// Banner
.banner{
    background-image: url(../medios/bannerplantel2023.jpg);
    height: 200px;
    background-size: cover;
    h1{
        @include titulos(center,#ffd600,0px 0px 7px rgba(0,0,0,0.57),underline);
        font-family: 'Oswald', sans-serif;
    }
    
}
/*jugadores*/
// Jugadores
.jugadores{
    max-width: 100%;
    max-height: 100%;
    h2{
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color:#0033a0;
       text-decoration: underline;
    }

}

.espacios{
    max-width: 100%;
}

 /* cards */
// Cards
 .card{
    font-family: 'Bebas Neue', sans-serif;
    color:#ffd600;
    background-color: #0033a0;
    font-size: 150%;
    text-shadow: none;
    text-decoration: none;
    ul{
        list-style-type: none;
    }
    margin-bottom: 10px;
  }
/*Cuerpo tecnico*/
// Cuerpo Tecnico
.cuerpo-tecnico{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:#0033a0;
   text-decoration: underline;
   background-color: #ffd600;
   border: 5px solid transparent;
   box-sizing: border-box; 
}
.card2{
    height: 190px;
 }
 .card3{
    height: 190px;
 } 

