/*--------------------------------------------------------------------------*/
/* Plantel 2023 */
// plantel 2023
   
/*banner*/
// Banner
.banner{
    background-image: url(../medios/bannerplantel2023.jpg);
    height: 200px;
    background-size: cover;
    background-color: $color-blanco;
    h1{
        @include titulos(center,$color-amarillo,0px 0px 7px rgba(0,0,0,0.57),underline);
        font-family: 'Oswald', sans-serif;
    }
    
}
/*jugadores*/
// Jugadores
.jugadores{
    h2{
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color:$color-azul;
    text-decoration: underline;
    }
    /* cards */
    // Cards
    .card{
        font-family: 'Bebas Neue', sans-serif;
        color:$color-amarillo;
        background-color: $color-azul;
        font-size: 150%;
        text-shadow: none;
        text-decoration: none;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.74);
        transition: 0.3s;
    
    
        &:hover{
        transform: scale(0.8);
            
        }
    }
}
/*Cuerpo tecnico*/
// Cuerpo Tecnico
.cuerpo-tecnico{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:$color-azul;
text-decoration: underline;
background-color: $color-amarillo;
border: 5px solid transparent;
box-sizing: border-box; 
}






 



